<main>
    <section class="tarefas">
        {{#each tarefas}}
        <div class="tarefa">
            <form action="">
                {{#if this.completa}}
                <div class="completa">
                    <input type="checkbox" id="tarefa-{{this.id}}" checked onchange="DescompletarTarefa({{this.id}})">
                    <label for="tarefa-{{this.id}}">{{this.descricao}}</label>
                </div>
                {{else}}
                <div>
                    <input type="checkbox" id="tarefa-{{this.id}}" onchange="CompletarTarefa({{this.id}})">
                    <label for="tarefa-{{this.id}}">{{this.descricao}}</label>
                </div>
                {{/if}}

                <button>
                    <img src="/imagens/X-icon.png" alt="icone de X para excluir uma tarefa">
                </button>
            </form>
        </div>
        {{/each}}
        <div class="informacoes">
            <p>{{QtdTarefasAtivas}} tarefas ativas</p>

            <div class="botoes">
                <a href="" class="active">Todas</a>
                <a href="">Ativas</a>
                <a href="">Completas</a>
            </div>

            <a href="">limpar tarefas</a>
        </div>
    </section>
    <section class="botoes">
        <a href="" class="active">Todas</a>
        <a href="">Ativas</a>
        <a href="">Completas</a>
    </section>
</main>